### Config ###
APP_TITLE=SmartLedger AI
SERVER__HOST=0.0.0.0
SERVER__PORT=8001
LOG__LEVEL=INFO

### Postgres ###
POSTGRES__URL=

### Redis ###
REDIS__URL=

### Qdrant ###
QDRANT__URL=

### LiteLLM ###
LITELLM__URL=

### Langfuse ###
LANGFUSE__PUBLIC_KEY=
LANGFUSE__SECRET_KEY=
LANGFUSE__HOST=
