### Core API ###
EXPO_PUBLIC_API_ENDPOINT=https://core-staging-01d2.up.railway.app

### Mock ###
EXPO_PUBLIC_USE_MOCK=false
EXPO_PUBLIC_MOCK_CORE=false
EXPO_PUBLIC_MOCK_SHOPS=false

### Firebase ###
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

### Speech ###
EXPO_PUBLIC_STT_MODEL_URL=
